:root {
  --white: #F4F1DE;
  /* #fff */
  --primary: #E07A5F
    /* #f59e0b */
    /* #E07A5F */
    /* #F2CC8F */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
  background-image: url('/bg_clima.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  font-size: 2rem
}